@page
@model PixelBoard.TeacherClient.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin Page</h1>

<h2>Game Controls</h2>

<div class="buttons-container">
    <div>
        <button type="submit" form="start-form">Start Game</button>
    </div>

    <form method="post" asp-page-handler="Stop">
        <button type="submit">Stop Game</button>
    </form>

    <form method="post" asp-page-handler="Reset">
        <button type="submit">Reset Game</button>
    </form>
</div>

<h2>Registered Teams</h2>

<div class="teams-container">
    <form id="start-form" method="post" asp-page-handler="Start">
        @foreach (var team in Model.Teams)
        {
            <div class="team">
                <input type="checkbox" id="@("team" + @team.Id)" name="selectedTeams" value="@team.Id" checked>
                <h3>Team @team.Name (@team.Id)</h3>
                <div>
                    @foreach (var player in team.Players)
                    {
                        <div>@player.Name</div>
                    }
                </div>
            </div>
        }
    </form>
</div>

<h2>Games</h2>

<div class="games-container">
    <form method="post" asp-page-handler="LoadGame">
        @foreach (var game in Model.Games)
        {
            <div class="game">
                <div>@game</div>
                <button name="game" value="@game" type="submit">Load Game</button>
            </div>
        }
    </form>
</div>